{% extends 'base.html' %}
{% load static %}


{% block title %}
Ecommerce
{% endblock title %}

{% block content %}

<!-- inner banner -->
<section class="inner-banner" >
  <div class="king-breadcrumb py-5" >
      <div class="container py-xl-5 py-md-4 mt-5">
          <h4 class="inner-text-title font-weight-bold mb-sm-2">About Us</h4>
          <ul class="breadcrumbs-custom-path">
              <li><a href="{% url 'services' %}">Services</a></li>
              <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Ecommerce</li>
          </ul>
      </div>
  </div>
</section>
<!-- //inner banner -->

<section >
  <div class="container py-3">
  <div class="row text-center">
    <div class="col-md-12 text-center">
      <!-- <br> -->
      <br>
      <h3>We develop </h3>
      <br>
      <h1 style="font-size: 3rem; font-family: geneva; font-weight: 1000; color: #ff5e29;">eCommerce</h1>
      <br>
      <br>
     <h4>with 24/7 sales automation. </h4>
    </div>
  </div>
</div>
</section>

<section>
  <div class="container py-5">
      <div class="row">
          <div class="col-md-6">
              <img style="width: 100%; height: 100%;" src="{% static 'images/ecommerce.jpg' %}" alt="Food Nigeria">
          </div>
          <div class="col-md-6">
              <br>
              <h1>What you should know.</h1>
              <br>
              <p>An E-commerce website allows people to buy and sell physical goods, services, and digital products over      the internet rather than at a brick-and-mortar location. Through an e-commerce website, a business can process orders, accept payments, manage shipping and logistics, and provide customer service.
      
              It’s tough to imagine life without e-commerce. We order food, clothes, furniture, etc. Therefore, they have to be speed-tested, user-friendly, mobile responsive and optimized for conversions and search.
              
              In recent years, e-commerce has enjoyed a massive boost from the rise of smartphones, which allow consumers to shop from nearly anywhere. In fact, business analytics indicate that mobile e-commerce alone surpassed $284 billion in 2020.</p>
              </div>
             
              
      </div>
  </div>
<br>
</section>

<div class="container">
  <marquee style="background-color: #ffc845;  color: black; height: 2rem; font-size: large; font-weight: 500;" behavior="" direction="">We are a solution driven team passionate about your business success, executing every project with Strategy, Tenacity and Excellent delivery in mind.</marquee>
</div>
<br>
{% endblock content %}



