{% extends "base.html" %}
{% load static %}

{% block title %}
 Services
{% endblock title %}

{% block content %}


    <!-- inner banner -->
    <section class="inner-banner">
        <div class="king-breadcrumb py-5">
            <div class="container py-xl-5 py-md-4 mt-5">
                <h4 class="inner-text-title font-weight-bold mb-sm-2">Services</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Services</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <!-- services section -->
    <div class="service-section py-5">
        <div class="container py-md-5 py-4">
            <div class="row align-items-center mb-5">
                <div class="col-md-6 section-heading">
                    <h5 class="small-title-2">Web Services</h5>
                    <h3 class="title-style-2">
                        Our Best Services</h3>
                </div>
                <div class="col-md-6 section-heading mt-md-0 mt-2">
                    <p>
                        We have seen first-hand how strategy, web design and digital marketing can help a business grow and succeed – and do this at scale. Now, it’s our mission to use every skill, knowledge and experience we have to help as many businesses as possible.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 item">
                    <div class="card" style="border: none; box-shadow: none !important; padding: 0px !important;">
                        <div class="card-header p-0 position-relative border-0">
                            <a href="services.html">
                                <img class="d-block img-responsive" src="{% static 'images/s4.jpg' %}" alt="card-image">
                            </a>
                        </div>
                        <div class="card-body service-details">
                            <span class="label-style">Work</span>
                            <a href="{% url 'Web_development' %}" class="service-heading">Website Designing</a>
                            <p>Web development is the work involved in developing a Web site for the Internet or an intranet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="card" style="border: none; box-shadow: none !important; padding: 0px !important;">
                        <div class="card-header p-0 position-relative border-0">
                            <a href="{% url 'ecommerce' %}">
                                <img class="d-block img-responsive" src="{% static 'images/s1.jpg' %}" alt="card-image">
                            </a>
                        </div>
                        <div class="card-body service-details">
                            <span class="label-style label-style-2">Business</span>
                            <a href="{% url 'ecommerce' %}" class="service-heading">Ecommerce WebApp</a>
                            <p>An E-commerce website allows people to buy and sell physical goods, services, and digital... </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="card" style="border: none; box-shadow: none !important; padding: 0px !important;">
                        <div class="card-header p-0 position-relative border-0">
                            <a href="{% url 'corporate' %}">
                                <img class="d-block img-responsive" src="{% static 'images/s6.jpg' %}" alt="card-image">
                            </a>
                        </div>
                        <div class="card-body service-details">
                            <span class="label-style label-style-3">Corporate</span>
                            <a href="{% url 'corporate' %}" class="service-heading">Corporate WebApp</a>
                            <p>Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque
                                laudantium, totam rem aperiam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item mt-lg-5 mt-4">
                    <div class="card" style="border: none; box-shadow: none !important; padding: 0px !important;">
                        <div class="card-header p-0 position-relative border-0">
                            <a href="{% url 'magazine_blog' %}">
                                <img class="d-block img-responsive" src="{% static 'images/s1.jpg' %}" alt="card-image">
                            </a>
                        </div>
                        <div class="card-body service-details">
                            <span class="label-style label-style-2">News</span>
                            <a href="{% url 'magazine_blog' %}" class="service-heading">Magazine and Blog</a>
                            <p>A magazine website is a linear, finite edition of a magazine, just like the app edition...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card" style="border: none; box-shadow: none !important; padding: 0px !important;">
                        <div class="card-header p-0 position-relative border-0">
                            <a href="{% url 'portfolio' %}">
                                <img class="d-block img-responsive" src="{% static 'images/s2.jpg' %}" alt="card-image">
                            </a>
                        </div>
                        <div class="card-body service-details">
                            <span class="label-style label-style-3">Portfolio</span>
                            <a href="{% url 'portfolio' %}" class="service-heading">Portfolio WebApp</a>
                            <p>At its most basic form, a portfolio website provides professional information about an individual or a company...</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="card" style="border: none; box-shadow: none !important; padding: 0px !important;">
                        <div class="card-header p-0 position-relative border-0">
                            <a href="services.html">
                                <img class="d-block img-responsive" src="{% static 'images/s3.jpg' %}" alt="card-image">
                            </a>
                        </div>
                        <div class="card-body service-details">
                            <span class="label-style">Design</span>
                            <a href="services.html" class="service-heading">Creative Design</a>
                            <p>Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque
                                laudantium, totam rem aperiam</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- //services section -->

    <!-- feature section -->
    <section class="king-feature-8 py-5">
        <div class="container py-md-5 py-4">
            <div class="row features text-center py-lg-5">
                <div class="col-lg-3 col-sm-6 feature-1">
                    <div class="feature-body">
                        <div class="feature-images pb-sm-3 pb-1">
                            <i class="fas fa-magic"></i>
                        </div>
                        <div class="feature-info mt-3">
                            <a href="{% url 'services' %}">
                                <h3 class="feature-titel">
                                    Graphic design
                                </h3>
                            </a>
                            <p class="feature-text">Available</p>
                            <a href="{% url 'services' %}" class="btn btn-style btn-style-normal mt-4">More Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 feature-2 mt-sm-0 mt-5">
                    <div class="feature-body">
                        <div class="feature-images pb-sm-3 pb-1">
                            <i class="fas fa-window-restore"></i>
                        </div>
                        <div class="feature-info mt-3">
                            <a href="{% url 'services' %}">
                                <h3 class="feature-titel">Web development</h3>
                            </a>
                            <p class="feature-text">Available</p>
                            <a href="{% url 'services' %}" class="btn btn-style btn-style-normal mt-4">More Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 feature-3 mt-lg-0 mt-5">
                    <div class="feature-body">
                        <div class="feature-images pb-sm-3 pb-1">
                            <i class="fas fa-edit"></i>
                        </div>
                        <div class="feature-info mt-3">
                            <a href="{% url 'services' %}">
                                <h3 class="feature-titel">Content writing</h3>
                            </a>
                            <p class="feature-text">Coming Soon</p>
                            <a href="{% url 'services' %}" class="btn btn-style btn-style-normal mt-4">More Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 feature-3 mt-lg-0 mt-5">
                    <div class="feature-body">
                        <div class="feature-images pb-sm-3 pb-1">
                            <i class="fas fa-tasks"></i>
                        </div>
                        <div class="feature-info mt-3">
                            <a href="{% url 'services' %}">
                                <h3 class="feature-titel">Organized Tasks</h3>
                            </a>
                            <p class="feature-text">Coming Soon</p>
                            <a href="{% url 'services' %}" class="btn btn-style btn-style-normal mt-4">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //feature section -->

    <!-- content-6-section -->
    <section class="king-content-12-main">
        <div class="content-12 text-left py-5">
            <div class="container py-md-5 py-4">
                <div class="content-info-tabs text-center">
                    <input id="tab1" type="radio" name="tabs" checked>
                    <label class="tabtle" for="tab1">Our Mission</label>
                    <input id="tab2" type="radio" name="tabs">
                    <label class="tabtle" for="tab2">Our Goals</label>
                    <input id="tab3" type="radio" name="tabs">
                    <!-- <label class="tabtle" for="tab3">Our Vision</label> -->
                    <section id="content1" class="tab-content">
                        <div class="row content12 align-items-center">
                            <div class="col-lg-6 column">
                                <h6 class="content-heading">Powerful Solution for your Startup Business</h6>
                                <p class="content-para mb-3">Website management is the collection of processes to ensure your website is professional, up-to-date, and functioning well to handle improved qualified traffic. It encompasses general maintenance, security, and long-term development of the website, as well as organizing your content delivery and marketing strategy.</p>
                                <p>
                                    Successful businesses are always making changes, creating and distributing new content. Poor management results in problems with your website. It’s that simple. Problems that are expensive to identify and fix, while serious issues can lead to your website going down.
                                </p>
                                <p>Website management technologies and techniques help you cut costs by streamlining critical processes and facilitating more efficient collaboration and work practices, i.e. less cost of customer acquisition.</p>
                            </div>
                            <div class="col-lg-6 column mt-lg-0 mt-4">
                                <img src="{% static 'images/s3.jpg' %}" class="img-fluid radius-image" alt="">
                            </div>

                        </div>
                    </section>
                    <section id="content2" class="tab-content">
                        <div class="row content12 align-items-center">
                            <div class="col-lg-6 column">
                                <h6 class="content-heading">Ecommerce WebApp</h6>
                                <p class="content-para mb-3">Kingnze Tech offers the best of SEO and Digital Marketing to ensure your business stands out; If you want to improve your website rankings and drive more focused traffic to your page, trust our SEO team with exclusive SEO packages to give your business the right start. </p>
                                <p>
                                    We understand the importance of not just improving the volume of your website traffic, but also enhancing the quality of your traffic. High-quality traffic that will help in boosting your business and enhances overall business growth. In simple words.
                                </p>
                                <p>
                                    We use the different platforms of digital media to reach out to the target audience and communicate the message in the most efficient manner. Our professional Lagos SEO and digital marketing services make it possible for your company to present your message uniquely and powerfully. With our expertise, your brand will get noticed in no time!
                                </p>
                            </div>
                            <div class="col-lg-6 column mt-lg-0 mt-4">
                                <img src="{% static 'images/startup.jpg' %}" class="img-fluid radius-image" alt="">
                            </div>
                        </div>
                    </section>
                    <!-- <section id="content3" class="tab-content">
                        <div class="row content12 align-items-center">
                            <div class="col-lg-6 column">
                                <h6 class="content-heading">Provide awesome services with our tools</h6>
                                <p class="content-para mb-3">Lorem ipsum dolor sit amet,Ea consequuntur illum facere
                                    aperiam
                                    sequi optio consectetur.Ea consequuntur illum facere aperiam sequi optio consectetur
                                    adipisicing elitFuga, suscipit totam animi consequatur saepe blanditiis.</p>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque quidem odit
                                    consequuntur
                                    ducimus neque, harum eos eligendi maiores ex cum nobis.</p>
                            </div>
                            <div class="col-lg-6 column mt-lg-0 mt-4">
                                <img src="{% static 'images/s5.jpg' %}" class="img-fluid radius-image" alt="">
                            </div>
                        </div>
                    </section> -->
                </div>
            </div>
        </div>
    </section>
    <!-- //content-6-section -->
    <div class="container">
        <marquee style="background-color: #ffc845;  color: black; height: 2rem; font-size: large; font-weight: 500;" behavior="" direction="">We are a solution driven team passionate about your business success, executing every project with Strategy, Tenacity and Excellent delivery in mind.</marquee>
    </div>
    <br>

     

{% endblock content %}